CREATE TABLE IF NOT EXISTS public.vehicle_mileage_logs (id BIGSERIAL PRIMARY KEY, vehicle_id UUID REFERENCES public.vehicle_config(id) ON DELETE CASCADE, date DATE NOT NULL, odometer DECIMAL NOT NULL, notes TEXT, created_at TIMESTAMPTZ DEFAULT NOW()); ALTER PUBLICATION supabase_realtime ADD TABLE public.vehicle_mileage_logs;
